[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = git://github.com/fuel/auth.git
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = git://github.com/fuel/parser.git
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = git://github.com/fuel/email.git
[submodule "fuel/packages/opauth"]
	path = fuel/packages/opauth
	url = git@github.com:andreoav/fuel-opauth.git
