/* ALL */
.content {
  margin-top: 20px;
}

/* top */
.content .rootkey-title {
  padding-bottom: 10px;
}

.content .search-area {
  padding-top: 20px;
}

.content .panel.white {
  background-color: #fff;
  padding: 0px 0px 10px 0px;
}
.content .panel.white .panel-title {
  background-color: #f2f2f2;
  padding: 10px 10px 3px;
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 1px ridge #cccccc;
}
.content .panel.white .panel-body {
  padding: 10px 10px;
}

.content .panel.light {
  background-color: #E0FFFF;
}

.content .map-top {
  width: 100%;
  height: 400px;
}

.table-register-search {
  width: 100%;
}

/* mypage */
div#item-description {
  padding-bottom: 1em;
}

.list-mypage {
  text-align: center;
}
.table-mypage {
  width: 100%;
  max-width: 320px;
  margin: auto;
}
td.grid-3 {
  width: 100px;
}
td a.button {
  width: 100%;
  margin: auto;
}

a.search-result-delete {
  color: #424242;
  float: right;
}
a.search-result-edit {
  color: #424242;
  float: right;
  padding-right: 1em;
}

#search-result-title-edit-success {
  display: none;
}
#search-result-title-edit-error {
  display: none;
}
#search-result-delete-error {
  display: none;
}
